* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* inizio common */
.page{
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial;
    font-weight: 600;
}

#botton{
    padding: 1vw 2vw;
    border-radius: 4vh;
    text-decoration: none;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.white{
    background-color: white;
    color: black;
}
.black{
    background-color: #151424;
    color: white;
}
.violet{
    background-color: #5865F2;
    color: white;
}
#small-botton{
    margin-left: 7vw;
    padding: 0.4vw 0.8vw;
    border-radius: 2vh;
    text-decoration: none;
}

/* fine common */


/* inzio header */
header{
    position: relative;
    background-color: #255EE9;
    height: 65vh;
    width: 100%;
    text-align: center;
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

/* inizio nav bar */
/* logo */
#logo img{
    vertical-align: middle;
    width: 8vw;
    margin-right: 6vw;
}

/* list item */
nav ul li{
    display: inline-block;
    margin: 0 2vw;
} 
nav ul li a{
    text-decoration: none;
    color: white; 
}
nav ul li a:hover{
    text-decoration: underline;
}
nav{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    display: inline-block;
    height: 8vh;
    line-height: 8vh;
    width: 80%;
    background-color: #255EE9;
    border-radius: 2vh;
    font-size: 1vw;
    z-index: 99;
}

/* accedi */
.accedi{
    background-color: white;
    color: black;
}

/* banner */
.text-banner{
    position: absolute;
    width: 43vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.text-banner h1{
    font-weight: 900;
    font-size: 3vw;
    margin: 2vw;
}
.text-banner p{
    font-size: 1vw;
    line-height: 3vh;
    margin: 1vw;
}
.text-botton{
    display: inline-block;
    margin: 2vw 1vw;
    font-size: 1vw;
}
 
/* fine header */


/* inizio  main */
main{
    width: 100%;
    position: relative;
}
/* sezioni main */
.wave{
    width: 100%;
    height: 100%;
    background-image: url("../img/wave.svg");
}
.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/wave.svg");
}
.main-section{
    margin: 20vh auto;
    width: 70%;
}
.section-image{
    float: left;
    width: 70%;
}
.section-text{
    margin-top: 5vh;
    top: 7px;
    width: 30%;
    float: right;
}
.section-image img{
    width: 90%;
    height: 90%;
}
.section-text h1{
    font-size: 3vw;
    margin-bottom: 5vh;
}
.section-text p{
    font-size: 1.2vw;
}
#invert .section-image{
    float: right;
    width: 70%;
}
#invert .section-text{
    float: left;
}

/* sezione main bottom */
.main-bottom{
    text-align: center;
    width: 70%;
    margin: 0 auto ;
}
.section-bottom-image{
    width: 100%;
    height: 90vh;
}
.section-bottom-image img{
    width: 100%;
    height: 100%;
}
.section-bottom-text h1{
     font-size: 3vw;
     margin-bottom: 5vh;
}
.section-bottom-text p{
    font-size: 1.2vw;
}
.bottom-botton{
    padding: 2vh;
    height: 20vh;
    width: 40%;
    margin: 0 auto;
    background-image: url("../img/stars.svg");
    background-size: inherit;
    background-repeat: no-repeat;
}
.bottom-botton h1{
    font-size: 1.4vw;
}
/* fine main */


/* inizio footer */
footer{
    width: 100%;
    height: 65vh;
    background-color: #23272A;
}
.top-footer{
    width: 70%;
    height: 70%;
    margin: 0 auto;
    color: white;
    font-size: 0.7vw;
}
.footer-left{
    display: inline-block;
    padding: 3vw 0;
    color: #5865F2;
    width: 25%;
    height: 100%;
}
.footer-left h1{
    font-size: 2vw;
    margin-bottom: 1vw;
}
.language img{
    width: 1.7vw;
    vertical-align: middle;
}
.language select{
    font-size: 1vw;
    background-color: transparent;
    color: white;
    border: none;
    margin-bottom: 8vh;
}
.language{
    width: 9vw;
    height: 4vh;
    line-height: 4vh;
}
.icon{
    display: inline-block;
    font-size: 1.5vw;
    margin: 1vw 1vw 0 0;
    color: white;
}
.footer-right{
    padding-top: 1vw;
    text-align: center;
    float: right;
    width: 75%;
    height: 100%;
}
.footer-right ul{
    display: inline-table;
    margin: 2vw;
    list-style: none;
}
.footer-right ul li{
    margin: 1vw;
}
.head-list{
    color: #5865F2;
}

.bottom-footer{
    width: 70%;
    margin: 0 auto;
    border-top: 2px solid #5865F2;
    padding-top: 4vh;
}
.registrati{
    float: right;
    background-color: #5865F2;
    color: white;
}